* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #364372;
}

body {
  width: 100vw;
  position: relative;
  overflow-x: hidden;
}

li {
  list-style: none;
  font-size: 12px;
  font-weight: 600;
}
li:hover {
  cursor: pointer;
}

.graphic-one {
  position: absolute;
  transform: scale(0.75);
  z-index: -22;
  top: -20%;
  right: -12%;
}

p {
  color: #a1a1a1;
  line-height: 1.2rem;
  font-family: "Barlow", sans-serif;
  letter-spacing: 0.5px;
}

h1 {
  letter-spacing: 2px;
  font-family: "Barlow", sans-serif;
  line-height: 2.8rem;
  font-size: 40px;
  color: #242e52;
}

button {
  background-color: #f3613c;
  box-shadow: 0px 20px 24px 3px rgba(248, 151, 24, 0.42);
  color: white;
  font-size: 13px;
  text-transform: capitalize;
  padding: 1rem 2rem;
  border: none;
  outline: none;
  border-radius: 30px;
}

button:hover {
  background-color: #f34d23;
  cursor: pointer;
}

/*This is the begining of the heading styles*/

header {
  width: 75%;
  margin: 0px auto 40px;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: solid black 1px; */
  padding-top: 25px;
}

header > ul {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > ul > li:hover {
  color: #a1a1a1;
  cursor: pointer;
}

/*This is the beginning of the main content styling*/

main {
  width: 75%;
  margin: 5rem auto;
  position: relative;
}

main > .graphics {
  position: absolute;
  z-index: 999999;
}

/* This is the first section styling */

.section-one {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 60vh;
}

.section-one > * {
  width: 40%;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro > h1 {
  font-weight: bolder;
  color: #242e52;
  margin-bottom: 25px;
}

.intro > p {
  font-size: 12px;
  width: 60%;
  margin-bottom: 30px;
  font-weight: 500;
}

.illustration-intro {
  display: flex;
  width: 100%;
}

.section-one > img {
  transform: scale(1.1);
}

/* End of section one and beginning of section two*/

.section-two {
  display: flex;
  margin: 70px 0px;
  justify-content: space-between;
}

/* This is the styling for the right hand side div */

.question-answer {
  width: 40%;
}

.question-answer > h1 {
  font-size: 30px;
  margin-bottom: 30px;
}
.question-answer > p {
  font-size: 13px;
  width: 75%;
}

/* This is the styling for the left hand side div */

.feature {
  width: 45%;
}

.feature-items {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
}

.feature-items > div > button {
  padding: 5px 25px;
  box-shadow: none;
}

.content {
  width: 75%;
}

.feature-items > div > h5 {
  margin-bottom: 15px;
  font-size: 16px;
}
.feature-items > div > p {
  font-size: 13px;
}

.graphy {
  position: absolute;
  transform: scale(0.75);
  top: 45%;
  left: -60%;
  z-index: -7777;
}

/* This is the begining of the third section */

.section-three {
  width: 100%;
  margin: 0px auto 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-three > h1 {
  font-size: 30px;
  margin-bottom: 60px;
}

.testimonial {
  width: 150%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.single-testimonial {
  background-color: #fafafa;
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 0px 30px;
}

.single-testimonial > img {
  width: 70px;
  margin: -30px 0px 0px;
}

.single-testimonial > h5 {
  margin: 30px 0px;
}

.single-testimonial > p {
  font-size: 13px;
  text-align: center;
  width: 80%;
}

/* This is the beginning of the section four */

.section-four {
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3613c;
  position: relative;
  overflow: hidden;
}

.section-four > img {
  z-index: 0;
  position: absolute;
  transform: scale(0.7);
  opacity: 0.1;
  top: -65%;
  left: 1px;
}

.section-div > div > button {
  background-color: white;
  color: #f3613c;
  box-shadow: none;
}

.section-div {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-div > h1 {
  font-size: 30px;
  color: white;
  width: 45%;
  z-index: 2;
}

/* This is the styling for the footer */

footer {
  width: 100%;
  background-color: #1e1e26;
  padding: 60px 0px;
}

.footer {
  width: 75%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}

.footer > * {
  width: 30%;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav > ul {
  width: 20%;
}

.nav > ul > li {
  width: 13px;
  margin-bottom: 20px;
  color: white;
  font-weight: 300;
  width: 100%;
}

.search > div > input {
  font-size: 13px;
  text-transform: capitalize;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  outline: none;
}

.search > div > button {
  font-size: 13px;
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  box-shadow: none;
}

/* This is the end of the styling from below start the implementation of the responsive design, Thank you*/
